<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <ion-avatar style="margin:auto;">
    <img src="https://i.pravatar.cc/150" alt="profile">
  </ion-avatar>

  <h2>Traveler</h2>
  <p>Explore the world 🌍</p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>25</h3>
        <p>Trips</p>
      </ion-col>
      <ion-col>
        <h3>10</h3>
        <p>Countries</p>
      </ion-col>
      <ion-col>
        <h3>5K</h3>
        <p>Followers</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
