<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg">

  <ion-grid>

    <!-- Profile Card -->
    <ion-row>
      <ion-col>
        <div class="profile-card">
          <img src="https://i.pravatar.cc/150" class="avatar">

          <h2>Charan</h2>
          <p>Cloud Enthusiast</p>


        </div>
      </ion-col>
    </ion-row>

    <!-- Stats Cards -->
    <ion-row>

      <ion-col size="4">
        <div class="stat-card">
          <h2>10</h2>
          <p>Projects</p>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="stat-card">
          <h2>5</h2>
          <p>Courses</p>
        </div>
      </ion-col>

      <ion-col size="4">
        <div class="stat-card">
          <h2>3</h2>
          <p>Certifications</p>
        </div>
      </ion-col>

    </ion-row>

    <!-- Activity Section -->
    <ion-row>
      <ion-col>
        <div class="activity-card">
          <h3>Recent Activity</h3>
          <ul>
            <li>✔ Completed Cloud Course</li>
            <li>✔ Built Login System</li>
            <li>✔ Deployed Android Project</li>
          </ul>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
